body {
    font-family: "Inconsolata";
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.card {   
    box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.5);
    transition: 0.3s;
    display: inline-block;
}

.card:hover {
    box-shadow: 8px 16px 32px 8px rgba(0,0,0,0.5);
}
.row{
    padding-top: 16px;
    padding-bottom: 32px;
}
#404{
    background-color:black;
}
.card-columns{
    padding: 12px 12px 12px 12px;
}
.list-group-item{
    padding:initial;
}

#footer{
    position:fixed;
    bottom:0;
    z-index:1;
    right:0;
}


