
@{
    ViewBag.Title = "Error404";
}
<h2>Error 404</h2>
<div id="pass">
    <img id="pass" src="~/img/theCup.jpg" />
    <h1> You saved your father!</h1>
</div>
<img id="fail" src="~/img/poorlyGif.gif" />



<div class="container" id="puzzle">
    <img id="pathPic" src="~/img/nameOfGod.jpg" />
    <h3 id="footSteps"> <a href="http://www.imdb.com/title/tt0097576">(hint)Only in the footsteps of god will you procede(hint).</a></h3>
    <h3 id="name">The Name of God is: (user answer built here, pass js guess into this header)</h3>
    <h4 id="updateName">??????</h4>
    <div  class="container" id="404" style="width: 25rem;">
        <div class="card yes">
            <div class="card-body text-center">
                <h1>R</h1>
            </div>
        </div>
        <div class="card no">
            <div class="card-body text-center">
                <h1>D</h1>
            </div>
        </div>
        <div class="card no">
            <div class="card-body text-center">
                <h1>B</h1>
            </div>
        </div>
        <div class="card no">
            <div class="card-body text-center">
                <h1>G</h1>
            </div>
        </div>
        <div class="card yes">
            <div class="card-body text-center">
                <h1>O</h1>
            </div>
        </div>
        <div class="card no">
            <div class="card-body text-center">
                <h1>K</h1>
            </div>
        </div>
        <div class="card yes">
            <div class="card-body text-center">
                <h1>Y</h1>
            </div>
        </div>
        <div class="card yes">
            <div class="card-body text-center">
                <h1>A</h1>
            </div>
        </div>
        <div class="card yes">
            <div class="card-body text-center">
                <h1>N</h1>
            </div>
        </div>
        <div class="card yes">
            <div class="card-body text-center">
                <h1>I</h1>
            </div>
        </div>
        <div class="card no">
            <div class="card-body text-center">
                <h1>T</h1>
            </div>
        </div>
        <div class="card yes">
            <div class="card-body text-center">
                <h1>A</h1>
            </div>
        </div>
        <div class="card no">
            <div class="card-body text-center">
                <h1>Z</h1>
            </div>
        </div>
        <div class="card yes">
            <div class="card-body text-center">
                <h1>E</h1>
            </div>
        </div>
        <div class="card no">
            <div class="card-body text-center">
                <h1>J</h1>
            </div>
        </div>
        <div class="card no">
            <div class="card-body text-center">
                <h1>U</h1>
            </div>
        </div>
        <div class="card yes">
            <div class="card-body text-center">
                <h1>H</h1>
            </div>
        </div>
        <div class="card no">
            <div class="card-body text-center">
                <h1>S</h1>
            </div>
        </div>
        <div class="card no">
            <div class="card-body text-center">
                <h1>Q</h1>
            </div>
        </div>
        <div class="card yes">
            <div class="card-body text-center">
                <h1>N</h1>
            </div>
        </div>
        <div class="card yes">
            <div class="card-body text-center">
                <h1>V</h1>
            </div>
        </div>
        <div class="card no">
            <div class="card-body text-center">
                <h1>L</h1>
            </div>
        </div>
    </div>
</div>
