
@{
    ViewBag.Title = "About Me";
}
<div class="container text-center pt-2">
    <div class="card text-center x">
        <h1>Things about me & things i enjoy</h1>
    </div>
</div>

<div class="container">
    <div class="card-columns">
        <div class="card">
            <img class="card-img-top img-fluid" src="~/img/boardgame.jpg">
            <div class="card-block">
                <h4 class="card-title">Table Top Games</h4>
                <p class="card-text">I enjoy board games.  Sometimes I find time to play them.</p>
            </div>
        </div>
        <div class="card p-1">
            <p class="card-text">
                Family is good. You dont need to see a picture mine though. I promise they are handsome.
            </p>
        </div>
        <div class="card text-center p-1">
            <h4 class="card-title">Computers</h4>
            <p class="card-text">I enjoy computers and using computers and programming computers.</p>
        </div>
        <div class="card">
            <img class="card-img img-fluid" src="~/img/swim.jpg">
            <p class="card-text p-1">
                I am not a fish but I have recently been swimming for fitness!
            </p>
        </div>
        <div class="card">
            <div class="card-block p-1">
                <h4 class="card-title">IUS Student</h4>
                <p class="card-text">I am currently taking courses at Indianana University South East. It is a lovely school.</p>              
            </div>
        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="~/img/videogame.jpg" />
            <div class="card-block p-1">
                <h4 class="card-title">Video Games</h4>
                <p class="card-text">Video Games are a nice way to pass the time.</p>
            </div>
        </div>
    </div>
</div>


