
@{
    ViewBag.Title = "SocialLinks";
}
<div class="container">
    <div class="card">
        <a href="https://www.github.com" target="_blank">
            <img id="social" class="card-img-top" src="~/img/git_560.png">
            <h4 class="card-title">GitHub</h4>
            <p>Take a look at my projects!</p>
        </a>
    </div>

    <div class="card">
        <a href="https://www.linkedin.com" target="_blank">
            <img id="social" class="card-img-top" src="~/img/link.png" />
            <div class="card-block">
                <h4 class="card-title">LinkedIn</h4>
                <p>Check out my profile!</p>
            </div>
        </a>
    </div>
</div>