
@{
    ViewBag.Title = "SocialLinks";
}
<div class="container-fluid">
    <div class="card-deck">
        <div class="card">
            <a href="https://www.github.com ">
                <img class="card-img-top" src="~/img/git_good.png" >
                <div class="card-block">
                    <h4 class="card-title">GitHub</h4>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="https://www.linkedin.com">
                <img class="card-img-top" src="~/img/link_good.png"/>         
                <div class="card-block">
                    <h4 class="card-title">LinkedIn</h4>
                </div>
            </a>
        </div>
    </div>
</div>


