
@{
    ViewBag.Title = "Index";
}
<div class="container-fluid">
    <div class="card-deck pt-2">
      
            <div class="card">
                <img class="card-img-top" src="~/img/640_480_tech.jpg" alt="Card image cap">
                <div class="card-block p-1">
                    <h4 class="card-title ">My Stats</h4>
                    <p class="card-text">Let me tell you a little bit about Ryan Madden.</p>
                </div>
            </div><!--End Card-->
        
       
            <div class="card">
                <img class="card-img-top" src="~/img/640_480_people.jpg" alt="Card image cap">
                <div class="card-block p-1">
                    <h4 class="card-title">My Links</h4>
                    <p class="card-text">Wanna see my linked in or github? Go on click here.</p>
                </div>
            </div><!--End Card-->
       
        <div class="card">
            <img class="card-img-top" src="~/img/640_480_peeps.jpg" alt="Card image cap">
            <div class="card-block p-1">
                <h4 class="card-title">My Resume</h4>
                <p class="card-text">Ready to be impressed? Just kidding im new at this.</p>
                <a href="@Url.Action("Resume","Home")" class="card-link">Do It!</a>
            </div>
        </div><!--End Card-->
        <div class="card">
            <img class="card-img-top" src="~/img/640_480_arch.jpg" alt="Card image cap">
            <div class="card-block p-1">
                <h4 class="card-title">Contact</h4>
                <p class="card-text">Contact and social links could totally be combined but 4 cards seemed better then 3 cards.</p>
                <a href="@Url.Action("Contact","Home")" class="card-link">Do It!</a>
            </div>
        </div><!--End Card-->
    </div><!--End Card-Deck-->
</div>


<!--
<div class="container-fluid p-3">

</div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Stats</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Clickable Links</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Holla atcha Boi</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card for Symmetry</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

-->
