
@{
    ViewBag.Title = "MyStats";
}

<h2>MyStats</h2>

<ul>
    <li>Father</li>
    <li>Husband</li>
    <li>Programer of Computers</li>
    <li>Scientist</li>
    <li>Board Game Player</li>
    <li>Video Game Player</li>
</ul>


