
@{
    ViewBag.Title = "MyStats";
}

<div class="container-fluid">

        <div class="card">
            <img class="card-img-top" src="~/img/640_480_peeps.jpg" alt="Pic of me">
            <div class="card-block">
                <h4 class="card-title">Things I enjoy</h4>
 
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">family things</li>
                    <li class="list-group-item">computer things</li>
                    <li class="list-group-item">soil smaples</li>
                    <li class="list-group-item">table top games</li>
                    <li class="list-group-item">video games</li>
                </ul>
            </div>
        </div>
    </div>

