
@{
    ViewBag.Title = "SocialLinks";
}
<div class="container">
    <div class="card-deck">
        <div class="card" style="width: 20rem;">
            <a href="www.gihub.com">
                <img class="card-img-top" src="~/img/git.gif">
                <div class="card-block">
                    <h4 class="card-title">GitHub</h4>
                </div>
            </a>
        </div>
        <div class="card" style="width: 20rem;">
            <a href="www.linkedin.com">
                <img class="card-img-top" src="~/img/git.gif">
                <div class="card-block">
                    <h4 class="card-title">LinkedIn</h4>
                </div>
            </a>
        </div>
    </div>
</div>


