
@{
    ViewBag.Title = "SocialLinks";
}
<div class="container-fluid">
    <h1>Check out my GitHub and Link'd In Accounts!</h1>
    <a href="www.github.com/leederacola">GitHub</a>
    <hr />
    <a href="www.linkedin.com">Linked In</a>
</div>