
@{
    ViewBag.Title = "SocialLinks";
}
<div class="container">
    <div class="card-deck"></div>
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="~/img/In-2CRev-128px-TM.png" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">GitHub</h4>
        </div>
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="~/img/In-2CRev-128px-TM.png" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">LinkedIn</h4>
            </div>
        </div>
    </div>
</div>

