
@{
    ViewBag.Title = "trialSpace";
}

    <div class="row">
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="~/img/640_480_tech.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title ">My Stats r1 c1</h4>
                    <p class="card-text">Let me tell you a little bit about Ryan Madden.</p>
                    <a href="@Url.Action("MyStats","Home")" class="card-link">Do It!</a>
                </div>
            </div> <!--End Card-->
        </div> <!--End col-->
<div class="col">
    <div class="card">
        <img class="card-img-top" src="~/img/640_480_people.jpg" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">My Links r1c2</h4>
            <p class="card-text">Wanna see my linked in or github? Go on click here.</p>
            <a href="@Url.Action("SocialLinks","Home")" class="card-link">Do It!</a>
        </div>
    </div><!--End Card-->
</div><!--End col-->
    </div><!--End row1-->
<div class="row">
    <div class="col">
        <div class="card">
            <img class="card-img-top" src="~/img/640_480_peeps.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">My Resume</h4>
                <p class="card-text">Ready to be impressed? Just kidding im new at this.</p>
                <a href="@Url.Action("Resume","Home")" class="card-link">Do It!</a>
            </div>
        </div><!--End Card-->
    </div><!--End col-->
    <div class="col">
        <div class="card">
            <img class="card-img-top" src="~/img/640_480_arch.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Contact</h4>
                <p class="card-text">Contact Info and such</p>
                <a href="@Url.Action("Contact","Home")" class="card-link">Do It!</a>
            </div>
        </div><!--End Card-->
    </div><!--End col-->
</div><!--End row1-->
</div>



