
@{
    ViewBag.Title = "trialSpace";
}

<div class="card-columns">
    <div class="card">
        <img class="card-img-top img-fluid" src="~/img/boardgame.jpg">
        <div class="card-block">
            <h4 class="card-title">Table Top Games</h4>
            <p class="card-text">Sometimes I enjoy board games.</p>
        </div>
    </div>
    <div class="card p-3">
        <blockquote class="card-block card-blockquote">
            <p>Family is good. You dont need to see a picture mine though. I promise they are handsome.</p>
        </blockquote>
    </div>
    <div class="card card-inverse card-dark p-3 text-center">
        <blockquote class="card-blockquote">
            <h1>Things about me, things i enjoy</h1>
        </blockquote>
    </div>
    <div class="card text-center">
        <div class="card-block">
            <h4 class="card-title">Computers</h4>
            <p class="card-text">I enjoy computers and using computers and programming computers.</p>
            
        </div>
    </div>
    <div class="card">
        <img class="card-img img-fluid" src="~/img/swim.jpg">
        <blockquote class="card-blockquote">
            <p>I am not a fish but I have recently been swimming for fitness!</p>
        </blockquote>
    </div>


    <div class="card">
        <div class="card-block">
            <h4 class="card-title">IUS Student</h4>
            <p class="card-text">I am currently taking courses at Indianana University South East. It is a lovely school.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top img-fluid" src="~/img/videogame.jpg"/>
        <div class="card-block">
            <h4 class="card-title">Video Game</h4>
            <p class="card-text">Video Games are a nice way to pass the time. Mario and Donkey Kong. </p>
        </div>
    </div>
</div>