<div class="container-fluid">
    <footer class="navbar navbar-light bg-light" id="footer">
        <a href="https://www.github.com" target="_blank"><img src="~/img/git_good.png" width="35" height="35" alt=""></a>
        <a href="https://www.linkedin.com" target="_blank"><img src="~/img/link_good.png" width="35" height="35" alt=""></a>
        <span class="navbar-brand">Ryan Madden</span>
    </footer>
</div>
   